artifacts/*
!artifacts/.gitkeep
!artifacts/clip_o1/
!artifacts/clip_o1/**

# metadata/*
# !metadata/nymph/
# !metadata/nymph/sids2commons.pkl
# !metadata/nymph/splits/
# !metadata/nymph/splits/.gitkeep

metadata/nymph/*
!metadata/nymph/sids2commons.pkl
!metadata/nymph/splits/
metadata/nymph/splits/*
!metadata/nymph/splits/.gitkeep

preprocessing/nymph/intermediaries/*
!preprocessing/nymph/intermediaries/sids/
preprocessing/nymph/intermediaries/sids/*
!preprocessing/nymph/intermediaries/sids/.gitkeep

archive/*

temp_lr_explorer.ipynb
temp_tax_dist.ipynb
temp.ipynb
tools/readable_tree.txt
tools/src.txt

__pycache__/
preprocessing/nymph/__pycache__/