artifacts/*
!artifacts/.gitkeep
!artifacts/clip_o1/
!artifacts/clip_o1/**

metadata/nymph/*
!metadata/nymph/splits/
metadata/nymph/splits/*
!metadata/nymph/splits/.gitkeep

metadata/lepid/*
!metadata/lepid/splits/
metadata/lepid/splits/*
!metadata/lepid/splits/.gitkeep

preprocessing/nymph/intermediaries/*
!preprocessing/nymph/intermediaries/.gitkeep

preprocessing/lepid/intermediaries/*
!preprocessing/lepid/intermediaries/.gitkeep

.codex
temp_lr_explorer.ipynb
temp_phylo.ipynb
temp_tax_dist.ipynb
temp.ipynb
tools/readable_tree.txt
tools/src.txt

__pycache__/
preprocessing/nymph/__pycache__/
tests/__pycache__/
tests/integration/__pycache__/
tests/unit/__pycache__/