artifacts/*
!artifacts/.gitkeep
!artifacts/clip_o1/
!artifacts/clip_o1/**

data/cub/*
!data/cub/.gitkeep

metadata/bryo/*
!metadata/bryo/splits/
metadata/bryo/splits/*
!metadata/bryo/splits/.gitkeep

metadata/cub/*
!metadata/cub/splits/
metadata/cub/splits/*
!metadata/cub/splits/.gitkeep

metadata/lepid/*
!metadata/lepid/splits/
metadata/lepid/splits/*
!metadata/lepid/splits/.gitkeep

metadata/nymph/*
!metadata/nymph/splits/
metadata/nymph/splits/*
!metadata/nymph/splits/.gitkeep

preprocessing/nymph/intermediaries/*
!preprocessing/nymph/intermediaries/.gitkeep

preprocessing/lepid/intermediaries/*
!preprocessing/lepid/intermediaries/.gitkeep

temp/
.codex
temp_lr_explorer.ipynb
temp_phylo.ipynb
temp_tax_dist.ipynb
temp.ipynb

tools/bryo_transfer.ipynb
tools/readable_tree.txt
tools/src.txt

__pycache__/
preprocessing/nymph/__pycache__/
tests/__pycache__/
tests/integration/__pycache__/
tests/unit/__pycache__/